registry=https://registry.npmjs.org/
audit=false
fund=false
prefer-online=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
strict-ssl=true
engine-strict=false
progress=false
